

.leaflet-sidebar-header, .leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
     background-color: #808080;
}

.leaflet-sidebar-pane .license {
   position: absolute;
   bottom: 0;
}

.leaflet-sidebar-pane p {
    margin-top: 40px;
}